<div id="providers-page-header">
  <div id="providers-title">
    <h1>Inbox Statistics By Provider</h1>
    <p>(Select domains on the left)</p>
  </div>
  <div id="provider-button" class="multiple-providers">
    <p>#</p>
  </div>
  <div id="percentage-button" class="multiple-providers-percent">
    <p>%</p>
  </div>
  <div id="clear-button">
    <p>X</p>
  </div>
</div>
