
  <div id="provider-side-bar" class="inline-display">
    <ul id="side-provider">
      <% @providers.each do |provider| %>
      <li class="prov-links"><%= p provider %></li>
      <% end %>
    </ul>
  </div>
  <div id="container" class="inline-display" style="min-width: 310px; height: 400px; margin: 0 auto">
  </div>
