<script type="text/javascript">
   var user_id = '<%= current_user.id %>'; // for integer
</script>

<div id="provider-side-bar" class="inline-display">
  <ul id="side-provider">
    <li class="prov-links"><a href="/top-five.html">Top Five Inboxes</a></li>
    <li class="prov-links"> <a href="/providers.html">View Providers</a></li>
    <li class="prov-links"></li>
  </ul>
</div>

<div>
  <div id="container" class="inline-display graph-data" style="min-width: 310px; height: 400px; margin: 0 auto">
  </div>
</div>
