<script type="text/javascript">
   var user_id = '<%= current_user.id %>'; // for integer
</script>

<div>
  <div id="container" class="inline-display graph-data" style="min-width: 310px; height: 400px; margin: 0 auto">
  </div>
</div>
