<div id="provider-side-bar" class="inline-display">
  <ul id="side-provider">
    <li class="prov-links"><a href="/index.html">Back Home</a></li>

    <% @providers.each do |provider| %>
    <li class="prov-links"><%= p provider %><input class="providerCheckBox" type="checkbox" name="chk[]"></li>
    <% end %>
    <li class="prov-links multiple-providers"><a href="#">Provider Stats</a></li>
    <li class="prov-links"></li>
  </ul>
</div>

<div id="clear-button">
  <p>Clear</p>
</div>

<div id="graphs">
</div>
