<div id="provider-side-bar" class="inline-display">
    <%= select_tag "providers-select", options_for_select(@providers.collect {|name| [name]}), multiple: true, size: 40 %>
</div>

<%= render partial: 'home/buttons' %>

<div id="graphs">
</div>

<div id="home-heroImage">
    <a href="tbd"></a>
    <div id="home-hero-pop">
        <span style="font-size: 20px;">Welcome</span><br />
          <p> To get started, use the provider list on the left to select which providers you would like statistical information about.<br />
          <br />
          You can hold the command key to select multiple providers individually, or click, hold and drag your pointer to select more
          than one provider in order.<br />
          <br />
          After you have made your selections, click on the <a class="icon-color">'#'</a> or <a class="icon-color">'%'</a> symbols at the top of the page, and your graphs will display. You
          can click on the <a class="icon-color">'X'</a> to clear all graphs and select different providers or simply select new providers and click on either of the two icons repopulate the page with the new providers information.</p>
    </div><!--END home-hero-pop-->
</div><!--//END #home-heroImage-->
