<div id="provider-side-bar" class="inline-display">
    <%= select_tag "providers-select", options_for_select(@providers.collect {|name| [name]}), multiple: true, size: 40 %>
</div>

<%= render partial: 'home/buttons' %>

<div id="graphs">
</div>

<div id="home-heroImage">
    <a href="tbd"></a>
    <div id="home-hero-pop">
        <span style="font-size: 20px;">Welcome</span><br /><br />
        This div appears on hover<br />
        but I would like to slide in from the right instead of just appearing.<br />
    </div><!--END home-hero-pop-->
</div><!--//END #home-heroImage-->
