<div id="provider-side-bar" class="inline-display">
    <%= select_tag "providers-select", options_for_select(@providers.collect {|name| [name]}), multiple: true, size: 40 %>
</div>

<%= render partial: 'home/buttons' %>

<div id="graphs">
</div>

<script type='text/javascript' src="/assets/providers.js"></script>
