<div id="provider-side-bar" class="inline-display">
  <ul id="side-provider">
    <%= select_tag "providers-select", options_for_select(@providers.each_with_index.map {|name, index| [name,name]}), multiple: true, size: 10 %>
  </ul>
</div>

<%= render partial: 'home/buttons' %>

<div id="top-five-graphs">
</div>

<script type="text/javascript" src="assets/javscripts/topfive.js"></script>
