<div id="provider-side-bar" class="inline-display">
  <ul id="side-provider">
    <li class="prov-links"><a href="/">Back Home</a></li>
    <li class="prov-links"><a href="/providers">To Providers</a></li>
    <% @providers.each do |provider| %>
    <li class="prov-links"><%= p provider %><input class="providerCheckBox" type="checkbox" name="chk[]"></li>
    <% end %>
    <li><button class="multiple-providers" type="button" href="#">Get Provider Stats</button></li>
  </ul>
</div>

<div id="providers-page-header">
  <div id="providers-title">
    <h1>Top Five Providers by Delivered E-Mails</h1>
    <p>(Select domains on the left)</p>
  </div>
  <div id="clear-button">
    <p>Clear</p>
  </div>
</div>

<div id="graphs">
</div>
