<script type="text/javascript">
  $(document).ready(function() {
    $('.top-five-providers').on('click', appendGraphsTopFive)
    $('#clear-top-five-button').on('click', clearTopGraphs)
    appendTopFive()
  });
</script>

<div id="provider-side-bar" class="inline-display">
  <ul id="side-provider">
    <% @providers.each do |provider| %>
    <li class="prov-links"><%= p provider %><input class="providerCheckBox" type="checkbox" name="chk[]"></li>
    <% end %>
  </ul>
</div>

<%= render partial: 'home/buttons' %>

<div id="top-five-graphs">
</div>
