<script type="text/javascript">
  $(document).ready(function() {
    $('.top-five-providers').on('click', appendGraphsTopFive)
    $('#clear-top-five-button').on('click', clearTopGraphs)
    appendTopFive()
  });
</script>

<div id="provider-side-bar" class="inline-display">
  <ul id="side-provider">
    <% @providers.each do |provider| %>
    <li class="prov-links"><%= p provider %><input class="providerCheckBox" type="checkbox" name="chk[]"></li>
    <% end %>
  </ul>
</div>

<div id="providers-page-header">
  <div id="providers-title">
    <h1>Top Five Providers by Delivered E-Mails</h1>
    <p>(Select domains on the left)</p>
  </div>
  <div id="provider-button" class="top-five-providers">
    <p>Get Providers</p>
  </div>
  <div id="clear-top-five-button">
    <p>Clear</p>
  </div>
</div>

<div id="top-five-graphs">
</div>
