<div id=welcome-header>
  <h1><img class="sg-logo" src="https://s3-us-west-1.amazonaws.com/sg-stats-assets/charts.png" /><p id="header-a">Welcome To SendGrid Stats</p></h1>
</div>

<%= render partial: 'home/form' %>
