<div id=welcome-header>
  <h1><img class="sg-logo" src="" /><p id="header-a">Welcome To SendGrid Stats</p></h1>
  <img class="stop-sign stop-image" src="https://s3-us-west-1.amazonaws.com/sg-stats-assets/stop.svg" height="25px" width="25px"/><p class="stop-sign stop-text"> Please
    review the <a href="https://sendgrid.com/docs/Classroom/Basics/API/api_key_permissions.html" target="_blank">SendGrid Documentation</a> for instructions on how to create your stats only API key!</p>
</div>

<%= render partial: 'home/form' %>
