<script type="text/javascript">
   var user_id = '<%= current_user.id %>'; // for integer
</script>

<div id=welcome-header>
  <h1><img class="sg-logo" src="/assets/SG-Logomark.png" /><p id="header-a">Welcome To SendGrid Stats</p></h1>
</div>

<%= render partial: 'home/form' %>
