<div id=welcome-header>
  <h1><img class="sg-logo" src="/assets/SG-Logomark.png" /><p id="header-a">Welcome To SendGrid Stats</p></h1>
</div>

<div id="login">
  <p> Register to get started.</p>
  <%= link_to 'Register', register_path %>
</div>

<%= render partial: 'home/form' %>
