#login-header-landing {
  height: 45px;
  border-bottom: 1px solid #d4dadf;
  width: 100%
}

#select-provider {
  font-size: 15px;
  font-family: "Proxima Nova", Helvetica, sans-serif;
  border: 0;
}

#login-header-landing.sticky {
  z-index: 1;
  width: inherit;
  background-color: white;
  position: fixed;
  top: 0;
}

.profile-nav-landing, .logout-nav-landing {
  margin-left: 5px;
  margin-top: 10px;
  font-family: "Proxima Nova", Helvetica, sans-serif;
  text-decoration: none;
  font-size: 14px;
  background-color: #1A82E2;
  box-shadow:none;
  border-radius: 0px;
  color: white;
  padding: 3px 6px 4px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
  border: 0;
  float: right;
}

.profile-nav-landing {
  margin-right: 15%;
}

.current-user-landing {
  padding-top: 13px;
  margin: 0;
  padding-left: 15%;
  width: 25%;
  color: #294661;
  font-family: "Proxima Nova", "Helvetica Neue", sans-serif;
}

.motto-provider {
  margin-top: -20px;
  font-family: "Proxima Nova", "Helvetica Neue", sans-serif;
  font-weight: 700;
  color: #294661;
}
