h1 {
  font-family: "Proxima Nova", Helvetica, sans-serif;
}

.nav-main {
  list-style-type: none;
  margin-top: 45px;
  margin-right: 105px;
  margin-left: 105px;
  padding-left: 25px;
  padding-right: 95px;
  font-family: sans-serif;
  overflow: hidden;
  background-color: white;
  border-top: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
}

.form {
  text-align: center;
}

.client-form {
  list-style-type: none;
  margin-right: 75px;
  margin-left: 75px;
  padding-left: 25px;
  padding-right: 95px;
  font-family: sans-serif;
  overflow: hidden;
  background-color: white;
}


.nav-links {
  color: black;
}

.li-form {
  display: inline;
}


.inline-display {
  display: inline-block;
}

.prov-links {
  font-family: sans-serif;
  list-style-type: none;
  padding-top: 8px;
  padding-bottom: 8px;
  text-decoration: none;
  color: #1A82E2;
  text-align: center;
  float: none;

}

.prov-links:hover {
  background-color: #294661;
  color: white;
}


li a {
  padding: 14px 16px;
  float: left;
  text-decoration: none;
  color: #1A82E2;
  vertical-align: top;
}

li:last-child a {
  border-radius: 5px;
  width: 75%;
  color: transparent;
  border-right: none;
  background: no-repeat center/100% url('/assets/sendgrid.png');
  background-position: 0px 5px;

}

li:last-child a:hover {
  background-color: transparent;
  color: transparent;
}

li a:hover {
  background-color: #294661;
  color: white;
}

.active {
    background-color: #4CAF50;
}

#dropdown1 {
  color: black;
}

.graph-data {
  width: 85%;
  padding-left: 165px;
}

#input-fields {
  padding-top: 25px;

}

#client-id {
  width: 450px;
}

#datepicker-start {
  width: 65px;
}

#datepicker-end {
  width: 65px;
}

#prov-heading {
  list-style-type: none;
  text-align: center;
}

#side-provider {
  padding: 0;
}
