#percentages-label {
  width: 90px;
  height: 25px;
  position: relative;
  border-right: 1px solid #bbb;
  top: 0px;
  left: 168px;
  background-color: #294661;
  color: white;
  text-align: center;
}

#percentages-number {
  width: 90px;
  height: 25px;
  border-radius: 2px;
  border-right: 1px solid #bbb;
  position: relative;
  top: 0px;
  left: 168px;
  background-color: #1A82E2;
  color: white;
  text-align: center;
  padding-top: 5px;
}

#events-blocks {
  display: inline-flex;
}

.percentages-text {
  vertical-align: middle;
  line-height: normal;
}
