#providers-page-header {
  text-align: left;
  height: 100px;
}

#clear-button {
  border-top: 1px solid #1A82E2;
  border-bottom: 1px solid #1A82E2;
  border-left: 1px solid #1A82E2;
  height: 50px;
  font-family: "Proxima Nova", Helvetica, sans-serif;
  width: 55px;
  height: 50px;
  position: relative;
  top: -98px;
  left: 90px;
  text-align: center;
  display: inline-block;
  background-color: white;
  color: #1A82E2;
}

#clear-button:hover {
  background-color: #294661;
  color: white;
  -webkit-transition: background-color 500ms linear;
  -ms-transition: background-color 500ms linear;
  transition: background-color 500ms linear;
}

#clear-top-five-button {
  font-family: "Proxima Nova", Helvetica, sans-serif;
  width: 90px;
  height: 50px;
  border-radius: 2px;
  position: relative;
  top: -98px;
  left: 165px;
  text-align: center;
  display: inline-block;
  background-color: #1A82E2;
  color: white;
}

#clear-top-five-button:hover {
  background-color: #294661;
  color: white;
  -webkit-transition: background-color 500ms linear;
  -ms-transition: background-color 500ms linear;
  transition: background-color 500ms linear;
}

#provider-button {
  border-top: 1px solid #1A82E2;
  border-bottom: 1px solid #1A82E2;
  font-family: "Proxima Nova", Helvetica, sans-serif;
  width: 55px;
  height: 50px;
  position: relative;
  top: -98px;
  left: 100px;
  text-align: center;
  display: inline-block;
  background-color: white;
  color: #1A82E2;
}

#provider-button:hover {
  background-color: #294661;
  color: white;
  -webkit-transition: background-color 500ms linear;
  -ms-transition: background-color 500ms linear;
  transition: background-color 500ms linear;
}

#percentage-button {
  border: 1px solid #1A82E2;
  font-family: "Proxima Nova", Helvetica, sans-serif;
  width: 55px;
  height: 50px;
  position: relative;
  top: -98px;
  left: 95px;
  text-align: center;
  display: inline-block;
  background-color: white;
  color: #1A82E2;
}

#percentage-button:hover {
  background-color: #294661;
  color: white;
  -webkit-transition: background-color 500ms linear;
  -ms-transition: background-color 500ms linear;
  transition: background-color 500ms linear;
}


#change-client {
  font-family: "Proxima Nova", Helvetica, sans-serif;
  font-size: 14px;
  width: 80px;
  height: 60px;
  border-radius: 2px;
  border: none;
  position: relative;
  margin-left: 20px;
  top: -164px;
  float: left;
  text-align: center;
  display: inline-block;
  background: no-repeat center/100% url('/assets/user_switch-white.png');
  color: white;
}

#change-client:hover {
  background: no-repeat center/100% url('/assets/user_switch_invert.png');
  background-color: #294661;
  -webkit-transition: background-color 500ms linear;
  -ms-transition: background-color 500ms linear;
  transition: background-color 500ms linear;
}

#providers-title {
  padding-left: 69px;
  margin: auto;
  position: relative;
  text-align: center;
  width: 50%;
}

#provider-side-bar {
  width: 145px;
  height: inherit;
  position: absolute;
  border-radius: 2px;
}

.providerCheckBox {
  float: right
}

#providers-page-header .active {
  background-color: #1A82E2;
  -webkit-transition: background-color 500ms linear;
  -ms-transition: background-color 500ms linear;
  transition: background-color 500ms linear;
  color: white;
}
