#providers-page-header {
  text-align: left;
  height: 100px;
}

#clear-button {
  width: 90px;
  height: 50px;
  border-radius: 2px;
  border-right: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  border-top: 1px solid #bbb;
  position: relative;
  top: -98px;
  left: 145px;
  text-align: center;
  display: inline-block;
  background-color: #1A82E2;
  color: white;
}

#clear-button:hover {
  background-color: #294661;
  color: white;
}

#clear-top-five-button {
  width: 90px;
  height: 50px;
  border-radius: 2px;
  border-right: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  border-top: 1px solid #bbb;
  position: relative;
  top: -98px;
  left: 145px;
  text-align: center;
  display: inline-block;
  background-color: #1A82E2;
  color: white;
}

#clear-top-five-button:hover {
  background-color: #294661;
  color: white;
}

#provider-button {
  width: 100px;
  height: 50px;
  border-radius: 2px;
  border-right: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  border-top: 1px solid #bbb;
  position: relative;
  top: -98px;
  left: 145px;
  text-align: center;
  display: inline-block;
  background-color: #1A82E2;
  color: white;
}

#provider-button:hover {
  background-color: #294661;
  color: white;
}

#providers-title {
  padding-left: 69px;
  margin: auto;
  position: relative;
  text-align: center;
  width: 50%;
}

#provider-side-bar {
  width: 145px;
  height: inherit;
  position: absolute;
  border-right: 1px solid #bbb;
  border-top: 1px solid #bbb;
  border-radius: 2px;
}

.providerCheckBox {
  float: right
}
