#providers-page-header {
  text-align: left;
}

#clear-button {
  width: 90px;
  height: 50px;
  border-radius: 2px;
  border-right: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  border-top: 1px solid #bbb;
  position: relative;
  top: -98px;
  left: 125px;
  text-align: center;
  color: #1A82E2;
  display: inline-block;
}

#clear-button:hover {
  background-color: #294661;
  color: white;
}

#providers-title {
  padding-left: 69px;
  margin: auto;
  position: relative;
  text-align: center;
  width: 50%;
}
