<ul class="nav-main" id="graphs-header">
  <li class="li-form"><a href="/">Home</a></li>
  <li class="li-form global"><a href="/global.html">Global</a></li>
  <li class="li-form"><a href="/providers">Providers</a></li>
  <li class="li-form get-topfive"><a href="/top-five.html">Top Five Providers</a></li>
  <li id="change-client" class="li-form"><a href="#">Change Client</a></li>
  <%= link_to 'Profile', edit_user_registration_path, class: 'profile-nav' %>
  <%= link_to 'Log out', destroy_user_session_path, class: 'logout-nav', method: :delete %>
</ul>

<!-- <button id="change-client"></button> -->
<div id="myModal" class="modal">
  <div class="modal-content" class="modal">
    <div class="modal-header-modal">
      <span class="close">&times;</span>
      <div id=welcome-header-modal>
        <h1><img class="sg-logo" src="" /><p id="header-a">Welcome To SendGrid Stats</p></h1>
      </div>
    </div>
    <div class="modal-body">
      <%= render partial: 'home/form' %>
    </div>
  </div>
</div>
