<ul class="nav-main" id="graphs-header">
  <li class="li-form"><a href="/">Home</a></li>
  <li class="li-form global"><a href="/global.html">Global</a></li>
  <li class="li-form"><a href="/providers">Providers</a></li>
  <li class="li-form get-topfive"><a href="/top-five.html">Top Five Providers</a></li>
  <%= link_to 'Profile', edit_user_registration_path, class: 'profile-nav' %>
  <%= link_to 'Log out', destroy_user_session_path, class: 'logout-nav', method: :delete %>
</ul>
